/* ----------------------------- 導覽列 ----------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
  font-family: "Poppins", sans-serif;
}

.logo_img {
  width: 110px;
  height: 60px;
}

.home_header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
}

.home_header nav .allUl {
  text-align: center;
  align-items: center;
  display: flex;
}

.allUl li a {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.allUl li a:hover {
  color: #f7c242;
}

.underline:hover {
  color: #f7c242;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  height: 80px;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.home_title {
  display: flex;
  align-items: center;
}

.home_title:hover {
  cursor: pointer;
}

.home_user {
  border: 2.5px solid #f7c242;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  font-size: 1rem;
  cursor: pointer;
}

.home_user:hover {
  background-color: #f7c242;
  transition: 0.4s;
}

nav ul {
  width: 100%;
  text-align: left;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.uil-user-circle {
  font-size: 30px;
}

/* ----------------------------- RWD導覽列收縮 ----------------------------- */

.hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
.hamburger-icon div {
  background-color: black;
  transition: 0.4s;
}

.menubtn {
  font-size: 24px;
}

.underline {
  box-shadow: 0 0.1rem;
  padding-bottom: 2px;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.4s;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 150px;
  background-color: #fcfcfc;
  border-radius: 0px 0px 0px 20px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
}

.dark_btn {
  margin-right: 0.3rem;
  display: block;
}

/* 配合React */
.mobile-menu.open {
  display: block;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.mobile-li {
  font-size: 2rem;
  width: 200px;
  padding: auto;
}

@media screen and (max-width: 890px) {
  .home_header nav .allUl .allUl_li {
    display: none;
  }

  .home_user {
    display: none;
  }

  .dark_btn_out {
    display: none;
  }

  .hamburger-icon {
    display: flex;
    justify-content: flex-end;
  }
}
