.event_introduce {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.event_introduce_box {
  height: 1000px;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.event_introduce .event_container_123 {
  align-items: center;
  display: flex;
  max-width: 968px;
  width: 50%;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: 150px;
  margin-bottom: 20px;
  min-width: 360px;
}

.event_introduce .event_container_123 > div > img {
  display: block;
  margin: 0 auto;
}

.event_introduce .event_container_123 > div > p {
  text-align: center;
  height: 150px;
}

.event_introduce img {
  border-radius: 50%;
  border: 5px solid #ccc;
  width: 100px;
  height: 100px;
}

.event_introduce_des {
  border-radius: 10px;
  width: 60%;
  height: 100px;
  border: gray 1px solid;
  padding: 1rem;
}

.event_page-check {
  display: flex;
  flex-direction: column;
}

.event_page-check_pass {
  margin: 1rem;
  width: 80%;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: medium;
  margin-right: 0.5rem;
  border: 1px solid #36bf36;
  color: #36bf36;
}

.event_page-check_refuse {
  margin: 1rem;
  width: 80%;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: medium;
  margin-right: 0.5rem;
  border: 1px solid #ff4d00;
  color: #ff4d00;
}


.event_page-check_pass:hover {
  cursor: pointer;
  color: white;
  background-color: #36bf36;

}
.event_page-check_refuse:hover {
  cursor: pointer;
  color: white;
  background-color: #ff4d00;

}
