/* 英文
@font-face {
    font-family: custom-sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Poppins&display=swap');
    unicode-range: U+00-024F;
}

中文
@font-face {
    font-family: custom-sans-serif;
    src: url(./fonts/ChiuKongGothic.ttf);
    unicode-range: U+4E00-9FFF;
}

 */

/* 主設定 */
* {
  box-sizing: border-box;
  text-decoration: none;
}

/* 主內容的設定 */
.event_page-container {
  max-width: 968px;
  margin: auto;
  color: var(--body_color);
  display: flex;
  flex-direction: column;
}

.event_page-allActivity {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  color: var(--body_color);
}

.event_page-allActivity-down {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.event_page-gap {
  width: 60%;
  margin: 20px auto;
}

.event_page-iconBox {
  text-align: center;
  margin: 0 100px;
  font-size: 1.5rem;
}

.bi {
  font-size: 1.5rem;
}

.event_page-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.event_page-title {
  font-size: 24px;
  width: 100%;
  margin-top: 1rem;
}

.event_page-hostName {
  display: flex;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event_page-hostName>img {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.event_page-uploadImage {
  margin: 0 auto;
  text-align: center;
}

.event_page-uploadImage>img {
  width: 70%;
  height: 40vh;
  border-radius: 20px;
}

.event_page-activityText {
  width: 80%;
  text-align: center;
  margin: 10px auto;
}

.event_page-activityText>textarea {
  display: block;
  margin: 20px auto;
  padding-left: 20px;
  padding-top: 20px;
  width: 88%;
  height: 40vh;
  resize: none;
  border-radius: 20px;
  background-color: lightcyan;
}

.event_page-container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event_page-button {
  background-color: #f7c242;
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: large;
  margin-bottom: 50px;
}

.event_page-button2 {
  background-color: lightslategrey;
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: large;
  margin-bottom: 50px;
}

.event_page-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.event_page-grid {
  display: flex;
  justify-content: center;
}

.event_page-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.event_page-grid-grid-item {
  text-align: center;
  margin-left: 2rem;
}

.event_page-grid-container-message {
  display: grid;
  grid-template-columns: auto;
}

.event_page-grid-item-message {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 12px;
  margin-top: 1rem;
}

.event_page-message-board {
  display: flex;
  align-items:center;
}

.font-weight-bold1 {
  margin-left: 30px;
  width: 70%;
  padding: 1rem;
  border:1px solid #f7c242;
  border-radius: 10px;
  word-break: break-all;
}

.event_page-grid-grid-img {
  border-radius: 50%;
}

.event_page-time {
  text-align: right;
  font-size: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  
}

.event_page-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event_page-textarea {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 1rem;
  font-size: medium;
  width: 100%;
  resize: vertical;
}

.event_page-bbb-message {
  width: 100%;
  text-align: right;
  height: 60px;
}

.event_page-button-message {
  margin: 20px auto;
  background-color: #ffc107;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.event_page-button-message2 {
  margin: 20px auto;
  background-color: lightslategrey;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.event_page-button-message:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.event_page-bd {
  align-self: flex-end;
  margin-top: 5px;
}