:root {
    --body_background_color: #F5F5F5;
    --body_background_color_dot: rgba(83, 83, 83, 0.8);
    --body_color: black;
    --line_color: black;
}
/*   #293a4c  */
[data-theme="dark"] {
    --body_background_color: #293a4c;
    --body_background_color_white: #F5F5F5;
    --body_background_color_dot: #F5F5F5;
    --body_color: #F5F5F5;
    --line_color: #F5F5F5;
}

[data-theme="ligth"] {
    --body_background_color: #23313f;

    --body_color: #F5F5F5;
}